data/* 
bin/*
doc/* 
results/coverage/*
results/kallisto_fragmentlength/*
results/mapping/*
results/mapping_Ecoli/*
results/quality_control/*
.nextflow* 
trace.txt* 
CITATION
CONTRIBUTING
LICENCE
README
todo.txt
work/*
*.aux
*.log
*.tex
*.toc


